<!DOCTYPE html>

<html> 
<head>
    <title> Ecmo Simulator </title>
    <link rel="stylesheet" href="style.css">
</head>

<body> 
    <p> flow: </p>
    <!-- <img src="http://www.htmldog.com/badge1.gif" width="120" height="90" alt="HTML Dog"> -->
    <p> p_ven: </p>
    <p> p_int: </p>
    <p> delta_p: </p>
    <p> rpm: </p>       
    <p> p_art: </p>
    <p> t_art: </p>
    <p> svo2: </p>
    <table>
        <tr>
            <td>Row 1, cell 1</td>
            <td>Row 1, cell 2</td>
            <td>Row 1, cell 3</td>
        </tr>
        <tr>
            <td>Row 2, cell 1</td>
            <td>Row 2, cell 2</td>
            <td>Row 2, cell 3</td>
        </tr>
        <tr>
            <td>Row 3, cell 1</td>
            <td>Row 3, cell 2</td>
            <td>Row 3, cell 3</td>
        </tr>
        <tr>
            <td>Row 4, cell 1</td>
            <td>Row 4, cell 2</td>
            <td>Row 4, cell 3</td>
        </tr>
    </table>
</body> 
</html>